# Archivos de sistema y Python
__pycache__/
*.pyc
venv/
.env
.DS_Store

# Archivos multimedia pesados 
*.mp4
*.avi
*.mov

# Carpetas temporales del proyecto
uploads/
outputs/
temp/

# Binarios
*.exe
*.dll
ffmpeg.exe